.banner-home{
	background-image: url('/website/assets/images/background.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    position: relative;
}
.overlay-custom{
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	background: rgba(65, 94, 111, 0.7);
}
.overlay-content{
	margin-top:200px;
}
.overlay-content h3{
	color:#ffffff;
	text-align: center;
	font-size: 26px;
    text-transform: capitalize;
    line-height: 36px;
}
/*#415e6f*/

/* header style */
.navbar{
	position: fixed;
	top:0;
	left:0;
	right: 0;
	margin-bottom: 0;
	z-index: 1;
	padding: 0px 100px;
	border-radius:0;
	min-height: 90px;
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;	
}
.navbar.shrink{
	background: #062534 !important;
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
.navbar-nav>li>a{
	font-size: 12px;
    text-transform: uppercase;
    color: #ffffff!important;
    font-weight: bold;	
    padding:0;
}
.navbar-brand{
	height: 65px;
}
.navbar-nav{
	margin-left:150px;
}
.navbar-brand img{
	width: 148px;

}
.navbar-expand-lg .navbar-nav .nav-link{
	padding:0;
}

.bg-light{
	background: transparent !important;

}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0;
    padding-left: 38px;
}
.nav-item.sign-in a{
    border-bottom: 2px solid #fff;
}
.nav-item.sign-up a{
	background-color: #ffffff;
	color: #415e6f !important;
	padding: 2px 10px !important;
    border-radius: 18px;
}
/* end of header style */

.no-padding{
	padding:0 !important;
}
.import{
    background: #dbe5ea;
    padding:  2px;
    border-radius: 12px;
    margin: 25px 40px;
}
.import select{
	background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #062534;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #062534;
    font-weight: 800;
}
.import input{
	background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #062534;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #062534;
    font-weight: 800;
}
.import input:focus{
	background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #062534;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #062534;
    font-weight: 800;	
}
.import label{
	margin-bottom: 0;
    margin-left: 1px;
    color: #062534;
}
.top-import{
	padding:10px 0;
}
.import button{
    width: 100%;
    background: #26414f;
    border: none;
    padding: 18px 11px;
    font-size: 16px;
    color: #fff;
    border-radius: 12px;
    text-transform: capitalize;
    font-weight: bold;
}
.import button>i{
	background: #ffffff;
    color: #26414f;
    padding: 2px 5px;
    border-radius: 50%;
    margin-left: 9px;
}
.tradestrings{
	padding: 65px 0;
}
h3.heading{
    text-align: center;
    margin: 0;
    font-size: 26px;
    color: #506a85;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 16px;
}
.tradestrings p{
    text-align: center;
    margin: 0;
    font-size: 16px;
    color: #506a85;
    margin-bottom: 16px;
    padding: 5px 113px;

}
.trade h4{
	font-size: 17px;
    font-weight: bold;
    color: #506a85;
    margin-bottom: 19px;
}
.trade p{
	text-align: justify !important;
    margin: 0;
    font-size: 12px  !important;
    color: #506a85;
    padding:0  !important;
}
.trades{
	padding:38px 0px;
}
.discover-new{
	background: #f1f5f7;
	padding:40px 0;
}
.digitise-new{
	padding:40px 0;
}
.digitise{
	padding:50px 0;
}
.digitise img{
	    border-radius: 23px;
}
.digitise .content{
	color: #062534;
    font-size: 12px;
    font-weight: bold;
    /* padding-right: 200px; */
    padding: 28px;
    line-height: 26px;
    text-align: justify;	
}
.buttons-custom{
	margin-top:20px;
}
.black{
	border-radius: 5px;
    background: #062534;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    padding: 5px 17px;
    margin-right: 6px;
}
.black.white{
	background:#88e4e1 !important;
	color:#062534 !important;
}

/* footer style */
footer{
	background: #062534;
	padding:40px 0;
}
footer .address{
	margin-top:40px;
}
footer .address p{
	color:#ffffff !important;
	font-size:12px;
}
footer h4{
	color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 30px;
}
footer ul{
	list-style: none;
	padding:0;
}
footer ul>li {
	padding:0;
	padding-bottom: 13px;
}
footer ul>li a{
	color:#ffffff;
	font-size: 12px;
	text-decoration: none;
}
footer ul>li a:hover{
	text-decoration:none;
	color:#ee3976;
}
footer .social-links{
	color:#ffffff;
	font-size: 15px;
	margin-bottom: 22px;
}
footer .social-links .fa.fa-mobile{
	font-size: 	32px;
}
footer .social-links .fa.fa-envelope-o{
		font-size: 	25px;
}
footer .social-links a{
	color:#ffffff;
	text-decoration:none;
}
footer .social-links a:hover{
	text-decoration:none;
	color:#ee3976;

}
footer h3{
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    margin: 32px 14px;
}
footer .follow a{
	color:#ffffff;
	text-decoration: none;
}
footer .follow a:hover{
	text-decoration: none;
	color:#ee3976;
}
footer .follow .fa{
	font-size:30px;
}
.bottom-footer{
	background: #273545;
    padding: 14px;
    padding-left: 125px;
    font-size: 15px;
    position: relative;	
}
.bottom-footer p{
	margin:0;
	color:#707e8c;
}
.go-to-top{
	position:absolute;	
    right: 92px;
    bottom: 10px;
    cursor: pointer;
}
.go-to-top i{
	color: #ffffff;
    background: #707e8c;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 2px;
}
/* end of footer */

.interesting{
	background-image: url('/website/assets/images/footer-img.png');
	background-size: cover;
	background-repeat: 	no-repeat;	
	padding:60px 0;
	padding-top:100px;
	position: relative;
}
.overlay-bottom{
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(6, 37, 52, 1));
}
.interesting h2{
	color: #ffffff;
    font-size: 35px;
}
.interesting h6{
	color:#ffffff;
	margin:0;
	font-size: 15px;
}
.interesting .black{
	font-size: 16px;
	padding: 9px 24px;
}