/*===============================================*/
/* 16. MEDIA SCREEN		 						 */
/*===============================================*/
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
	 /* .image-divider {
	background-attachment: scroll;
}*/

}

@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 991px) {	


}


@media screen and (max-width: 768px) {
	.infocon{
		padding-top: 0px;
		margin-left: 0px;
	}
	.infocon p{
		margin-left: 50px;
		margin-top: -20px;
	}


}


@media screen and (max-width: 425px) {
.solutions-home{
	display: none;
}

.solution-sidebar.home{
  display: block;
}

.helpline img {
    width: 14px;
}
.helpline a {
    font-size: 12px;

}
.top-h{
	display: none;
}
.top-h ul>li a{
	font-size: 8px;
}
.top-h ul>li{
	    padding: 0 5px;
	    display: inline-block;
    margin-top: 14px;
}
.top-h ul>li.online-p{
	margin-bottom: 0;
}
.top-h ul{
	margin-bottom:0;
}

.top-h.small{
  display: block;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #003876;
}

.navbar-inverse .navbar-toggle {
    border-color: #f9a531;
}
header{
	padding: 0;
	padding-top:20px;
}

.about .about-content {
    padding: 19px;
}
p{
	    font-size: 12px !important;
	        line-height: 20px !important;
}
.about .about-content h2{
	    padding: 8px;
    margin-bottom: 14px;
    font-size: 20px;
}
.certificates .certificate{
	border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.certificates .certificate:last-child{
	border-bottom: none;
}
.heading h3{
	font-size: 20px;
}
.dedicated_servers img{
	margin-bottom: 20px;
	width:96px;
}

.reasons_to_choose_aditi h2 {
    font-size: 16px;
    padding-left: 8px;
     margin: 0px; 
    text-align: left;
    line-height: 1.5;
    margin-left: 29px;
    margin-top: 40px;
}
.reasons_to_choose_aditi h1{
	font-size: 77px;
}
.franchisor img{
	width:96px;
}
.owl-carousel .owl-nav button.owl-next{
	    top: 20px;
	    width:25px;
	    height:25px;
    right: -29px;
}
.owl-carousel .owl-nav button.owl-prev{
	    top: 20px;
	    width:25px;
	    height:25px;
    left: -29px;
}
.owl-carousel .owl-nav button.owl-prev span{
	top: -16px;
    position: absolute;
    left: 6px;
}
.owl-carousel .owl-nav button.owl-next span{
	top: -16px;
    position: absolute;
    right: 6px;
}
.video iframe{
	    width: 100%;
    height: 85%;
}
.helpline-side .fa{
	    width: 46px;
    height: 46px;
        font-size: 32px;
}

/*top nav bar*/
header{
	    padding: 0;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    background: #ffffff;
}
.top-margin{
	margin-top: 130px !important;
}

.navbar-nav{
	display: block;
	    background: #f9a531;
	    color: #ffffff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	padding-top:0;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	text-align: right;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border:none;
}
.navbar-inverse .navbar-nav>li>a{
	color:#ffffff;
	font-weight: bold;
	text-align: right;
}
.navbar-nav .open .dropdown-menu{
	background-color: #003876;
	text-align: right;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li{
	border-bottom:1px solid #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li:last-child{
	border-bottom:none;
}
.navbar-nav>li{
	border-bottom:1px solid #ffffff;

}

.navbar-nav>li:last-child{
	border-bottom:none;
	
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #ffffff;
	    border-color: #f9a531;
}


/*packages*/
#packages p.top-p{
	padding:30px;
}

#packages .package{
	margin:0;
	padding:10px;
}

/*why us*/
#why-us p.top-p{
	padding:0;
}


#why-us {
    padding: 10px;
}
/*contact us*/
.india-map .india img{
	width:90%;
}

.india-map .presence img {
    width: 126px;
    margin: 0 auto;
    position: absolute;
    right: 12%;
    top: 58%;
}
.india-map .presence h4 {
    top: 64%;
    right: 71px;
    font-size: 15px;
    width: 84px;
    text-align: center;
}

.get-it-on {
    margin: 11px;
}

/*ehya aditi tracking*/
#top-banner p{
	    font-weight: bold;
    font-size: 20px !important;
    padding:20px;
}
#about-aditi{
	margin:0 30px;
}

#team{
	height: 	auto;
}
#team{
	font-size: 	28px;
}
.photo{
	    margin-bottom: 25px;
}
.photo .head{
	    color: #003876;
}

.title h1{
	font-size: 	20px;
	padding-top:25px;
}
.title{
	height: 	90px;
	margin-bottom: 	25px;
}

.gps-labels{
	padding:0;
}
.gps-labels img{
	width:96px;
}


.frenchisee{
	height: auto;
}

.f-content{
	padding:20px;
	height: auto;
}
#happenings img{
	position: initial;
	margin-left: 45px;
}
.infocon{
	padding-top: 0px;
	margin-left: 0px;
}
.infocon p{
	margin-left: 50px;
	margin-top: -20px;
}
.captcha{
	padding-left: 0px;
}





}


@media screen and (max-width: 375px){
	.clientimg{
		height: 65px;
	}
	#happenings img{
		position: initial;
		margin-left: 25px;
	}
	.infocon{
		padding-top: 0px;
		margin-left: 0px;
	}
	.infocon p{
		margin-left: 50px;
		margin-top: -20px;
	}
	.captcha{
		padding-left: 0px;
	}
	

}

@media screen and (max-width: 320px){
	.home-banner img{
		margin-top: 34px;
	}
	.helpline-side{
		margin-top: 38px;
	}
	.clin{
		margin-left: 200px;
		height: 65px;
	}
    #happenings img{
		position: initial;
		margin-left: 7px;
	}
	.infocon{
		padding-top: 0px;
		margin-left: 0px;
	}
	.infocon p{
		margin-left: 50px;
		margin-top: -20px;
	}
	
.contact-us .form-input {
	margin-top: 25px;
	padding: 0px;
}
.top-margin {
    margin-top: 174px !important;
}

.map {
    margin: -6px;
    margin-left: 8px;
}
.captcha{
	padding-left: 0px;
	margin-left: -20px;
}
.footer{
	margin-right: -13px;
	width: 325px;
}
}