.header{
  background-color: #525252;
  text-align: center;
  color:#ffffff;
}
.header h4{
      margin: 0;
    padding: 5px;
}
.sidebar{
  padding: 14px 0;
  border-right: 1px solid #f2f2f2;
  height: 100%;
  padding-left:8px;
}
.sidebar span{
  color:#9f9f9f;
}

/*select style*/
.sidebar select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: transparent;
  background-image: none;
}
/* Remove IE arrow */
.sidebar select::-ms-expand {
  display: none;
}
/* Custom Select */
.sidebar .select {
  position: relative;
  display: flex;
  width: auto;
  height: 3em;
  line-height: 2;
  background: transoarent;
  overflow: hidden;
  columns: black;
  border-radius: .25em;
}
.sidebar select {
  flex: 1;
  color: #000;
  cursor: pointer;
  font-weight: bolder;
  font-size: 18px;
}
/* Arrow */
.sidebar .select::after {
  content: '\25BC';
  position: absolute;
  color:black;
  top: 6px;
  right: 0;
  padding: 0 1em;
  background: transparent;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/*end of select*/

/*search header*/
.searchform div {
height: 26px;
width: 193px;
}

.searchboxwrapper {
position: relative;
}

.searchbox {
border:none;
border-bottom: 1px solid #aaa7a7;
outline: none;
font: 11px 'Montserrat', sans-serif;
color: #000;
font-weight:bold;
width: 167px;
height: 26px;
background: #fff;
font-size:18px;
}

.searchsubmit {
font-family: 'FontAwesome';
width: auto;
height: 29px;
border-bottom: 1px solid #dadada;
font-size: 12px;
position: absolute;
top: -2px;
right: 27px;
background: transparent;
border: none;
color: #5d3250;
cursor: hand; cursor: pointer;
}
/*end of search header*/

.heading{
  color:#9f9f9f;
  font-size:11px;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 6px;
}

.top{
  border-bottom: 1px solid #f2f2f2;
  padding: 0 18px;
  padding-bottom: 18px;
}
.top-padding{
  padding:0;
}
.sidebar .select.border-bottom select{
  border-bottom: 1px solid #989898 !important;
}
.top.side .searchbox{
width: 190px;
}
.top.side .searchsubmit{
  right: 0;
}

.select.border-bottom select {
  font-weight: normal;
  font-size: 15px !important;
}


/*tabs css*/
.tabs {
  max-width: auto;
  padding: 5px 15px;
}
.tabs ul{
  padding: 0;
    list-style: none;
    border-bottom: 2px solid #707070;
}
.tabs-nav li {
  display: inline-flex;
  width: 24%;
  padding-left:9px;
}
.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}
.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}
.tabs-nav a {
  background: transparent;
  border: none;
  font-size: 15px;
  color: #040404;
  /* display: block; */
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 4px solid #ffffff;
}
.tabs-nav a:hover {
  border-bottom: 4px solid #040404;
}
.tabs-nav .tab-active a {
  border-bottom: 4px solid #040404;
}
.tabs-stage {
 
}
/*end of tabs css*/

/*overall data*/

h4.head{
  margin: 0;
  font-size: 16px;
  font-weight: bolder;
  color: black;
  margin-top: 18px;
}
.export-values{
  margin-top: 12px;

}
.export-values .value{
  border:1px solid #ababab;
  margin-right: 32px;
  padding:6px 0;
  padding-left: 20px;
}
.export-values .value span{
    display: inline-block;
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 2px;
}
.export-values .value h5{
  margin:0;
  color:#9b9b9b;
}

.export-chart{
  margin-top:10px;
}
.export-chart h5{
  font-weight: bold;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  margin:50px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  }

  .bordered{
    border-radius: 6px 6px 6px 6px !important;
    -moz-border-radius: 6px 6px 6px 6px !important ;
    -webkit-border-radius: 6px 6px 6px 6px !important;
  }

/* Zebra striping */
tbody{
  border: 1px solid #aeaeae;
  border-top: none;
}
tr:nth-of-type(odd) { 
  background: #ffffff; 
  }
thead{
  border:1px solid #eaebed;
}
th { 
  background: #f7f9fd; 
  color: #534c4d; 
  
}

td, th { 
  padding: 10px; 
  /*border: 1px solid #ccc; */
  text-align: left; 
  font-size: 13px;
}

.read-more{
  float: right;
}
.read-more a{
  text-decoration: none;
  background-color: #8d8b8b;
  color: #ffffff;
  padding: 5px 14px;
  font-size: 11px;
  border-radius: 21px;
  margin-right: 24px;
}

.trends select{
  border:none;
  color:#49c2e6;
  font-style: italic;
}

.new-heading{
  background: #f4f4f4;
  padding:6px;
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}
.new-heading span{
  color: #49c2e6;
}
.new-heading span.red{
  color:red !important;
}
table{
  margin: 8px 0;
}
.trends .table-trends{
  padding:0 5px;
}
.table-trends table{
  margin:0;
}

.ports select{
  border:none;
  color:#49c2e6;
  font-style: italic;
}
.ports .table-trends{
  padding:0 5px;
}
.data-style{
  padding:5px;
  border:1px solid #aeaeae;
  margin-right:10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 20px;
}
.export-chart{
  margin-bottom:20px;
}
.export-chart select{
  margin-right: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
  padding: 3px;
  color: #848282;
}
canvas{
      width: 100%;
    height: 100%;
    border: 1px solid #dbd7d7;
}
canvas#country-wise{
  height: 184px !important;
}

/*end of overall data*/

/*country specific data*/
.target-data .searchbox{
  width: 100%;
}
.target-data .searchsubmit{
  top: -6px;
  right: 8px;
}
.target-data .heading{
      color: #040404;
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 0px
}

.data-table select{
  border: none;
    color: #49c2e6;
    font-style: italic;
}
.red-arrow{
color:#cf6363;
    margin-right: 42px;
}
.green-arrow{
  color:#5cb458;
      margin-right: 42px;
}

.tabs{
  margin-bottom:30px;
}
#traget-countries{
  height: 292px !important;
}
.table-trends{
  margin-right: 10px;
}
#suppliers-origin{
  height: 250px !important;
}
#worldwide-trends{
  height: 250px !important;
}
/*end of country specific data*/
